h1{
    color:#6909B4;
}
/*
* {
    border:solid;
}
*/
.Header{
    background-color:#6FCFCf;
    display:flex;
    justify-content: space-between;
}
.Description{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.Projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Footer{
    display: flex;
    justify-content: flex-end;
}
body{
    background-color:#B394DB;
}
p,h2{
    text-align: center;
    color:#044402;
}